html {
  font-family: "Ubuntu", sans-serif;
}

h1 {
  font-weight: 700;
  color: #fff;
}

header {
  background-color: #E21D79;
}

a {
  font-weight: 400;
  text-decoration: none;
  color: #fff;
}

.banner {
  background-image: linear-gradient(to bottom, rgba(247, 160, 225, 0), rgba(247, 160, 225, .8)), url("../images/banner.jpg");
  background-position: left bottom, center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
}

.nav {
  text-align: center;
}

.nav a {
  text-decoration: none;
  color: #fff;
  border: 3px solid #C30290;
  background-color: #E21D79;
  border-radius: 8px;
}

.nav a:hover {
  color: #E21D79;
  background-color: #fff;
}

.banner-content {
  padding-top: 150px;
  color: #fff;
}

section {
  margin: auto;
}

h2 {
  color: #E21D79;
}

.btn {
  border-color: rgba(226, 29, 121, 1);
  color: #E21D79;
}

.btn:hover {
  border-color: #fff;
  background-color: #E21D79;
  color: #fff;
}

}
